<form action="/"  class="white-pink">
    <h1>We completed to send email.
        <span>to <%= @reemail %></span>
    </h1>
    
     <label>
        <span>&nbsp;</span> 
        <input type="submit" class="button" value="Back" /> 
    </label>    
</form>