<form action="/done" method="POST" class="white-pink">
    <h1>Send E-mail 
        <span>Please fill all the texts in the fields.</span>
    </h1>
    
    <label>
        <span>Title :</span>
        <input id="title" type="text" name="title" placeholder="Title" />
    </label>
    <label>
        <span>Receiver's Email :</span>
        <input id="reemail" type="email" name="reemail" placeholder="Email Address" />
    </label>
    <label>
        <span>Message :</span>
        <textarea id="message" name="message" placeholder="Write down the message"></textarea>
    </label> 
     <label>
        <span>&nbsp;</span> 
        <input type="submit" class="button" value="Send" /> 
    </label>    
</form>